name: slack
on: 
 workflow_dispatch:
  inputs:
    your_nmae:
     description: Name
     required: true  
jobs:
  slack_upload_job:
    runs-on: self-hosted
    steps:
      - name: Send message to Slack API
        uses: archive/github-actions-slack@v2.0.0
        id: notify
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_WEBHOOK_URL }}
          slack-channel: C04UMANJGG1
          slack-text: Hello! 
          slack-optional-icon_emoji: ":fire:"
          
      - name: Result from "Send Message"
        run: echo "The result was ${{ steps.notify.outputs.slack-result }}"
        
