name: slack
on: workflow_dispatch
jobs:
  slack_upload_job:
    runs-on: ubuntu-latest
    env: 
      SLACK_URL: ${{ secrets.SLACK_URL }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - run: echo "Test file " > test.txt
      - name: Upload to slack step
        uses: slackapi/slack-github-action@v1.23.0
        with:
          token: ${{ secrets.SLACK_URL }}
          path: ‘/Users/admin/desktop/file/sp.txt’
          channel: test-fin-gha-ci-pipeline
          
