name: slack
on: 
 workflow_dispatch:
  inputs:
     description: Name
     required: true  
jobs:
  slack_upload_job:
    runs-on: ubuntu-latest
    env: 
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - run: echo "Test file " > sp.txt
        
